@import "tailwindcss";




 /* Section-1 */

    /* Smooth background zoom animation */
    @keyframes zoomBg {
        0% {
            transform: scale(1.1);
        }

        100% {
            transform: scale(1.2);
        }
    }

    /* Text from left animation */
    @keyframes slideLeft {
        0% {
            opacity: 0;
            transform: translateX(-100px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    /* Image from top animation */
    @keyframes slideTop {
        0% {
            opacity: 0;
            transform: translateY(-100px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    /* Floating blobs */
    @keyframes float {

        0%,
        100% {
            transform: translateY(0) rotate(0deg);
        }

        50% {
            transform: translateY(-20px) rotate(8deg);
        }
    }

    @keyframes floatDelayed {

        0%,
        100% {
            transform: translateY(0) rotate(0deg);
        }

        50% {
            transform: translateY(20px) rotate(-8deg);
        }
    }

    /* Apply animations */
    .animate-zoom-bg {
        animation: zoomBg 20s ease-in-out infinite alternate;
    }

    .animate-slide-left {
        animation: slideLeft 1.8s ease-out forwards;
    }

    .animate-slide-top {
        animation: slideTop 1.8s ease-out forwards;
    }

    .animate-float {
        animation: float 8s ease-in-out infinite;
    }

    .animate-float-delayed {
        animation: floatDelayed 10s ease-in-out infinite;
    }


   @keyframes progress {
  from { width: 0%; }
  to { width: var(--tw-progress-width, 100%); }
}